$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import "compass/css3/border-radius";
@import 'sass-bootstrap/lib/bootstrap';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
    padding: 0px;

    .img-responsive {
        z-index: -5;
        position: absolute;
        height: auto;
        max-width: 100%;
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.background-header {
    padding: 0;
    position: absolute;
    z-index: -4;
    height: 85px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);

    h3 {

        color: rgba(255, 255, 255, .8);
        margin-left: 25px;
        margin-top: 24px;
        line-height: 40px;
        padding-bottom: 19px;
    }

    ul.new-style {
        margin-top: 23px;
    }
}


.header {
    padding-bottom: 90px;

    .nav-pills-style {
    background: none;
    }

    /* Make the masthead heading the same height as the navigation */
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #E0E0E0;
    // border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    // border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 5px 24px;
        background-color: rgba(0, 0, 0, .5);
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .footer {
        text-align: right;
        margin: 0 auto; 
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-top: 18px;
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.app {
    padding: 15px;
    background: rgba(0, 0, 0, .5);
    @include border-radius(6px);

    .new-todo-input {
        background: rgba(255, 255, 255, .8);
        font-family: inherit;
        font-size: 23px;
        line-height: inherit;
        width: 100%;
        padding: 20px 10px;
        color: rgb(160, 160, 160);
        @include border-radius(6px 6px 0 0);
    }

    .add-todo {
        padding: 10px;
        color: #fff;
        background: rgb(49, 165, 202);
        @include border-radius(0 6px 0 0);
    }

    .todo-items {
        background: rgba(255, 255, 255, .8);
        // border: 1px solid #acacac;
        border-top: none;
        @include border-radius(0 0 6px 6px);

        .todo-item {
            color: rgba(0, 0, 0, .5);
            text-transform: uppercase;
            font-size: 16px;
            border-top: 1px solid #acacac;
            padding: 10px;

            &:first-child {
                border: none;
            }


            .description {
                width: 50%;
                display: inline-block;
                overflow: hidden;

                .id {
                    color: rgba(0, 0, 0, .5);
                }
            }

            .button {
                vertical-align: top;
            }
        }

            .newbox {
                color: rgba(0, 0, 0, .5);
                text-transform: uppercase;
                font-size: 16px;
                border-top: 1px solid #acacac;
                padding: 10px;

                    .newbox-description {
                        margin: 0;
                        display: inline-block;

                        h1 {
                            margin: 0;
                            padding-left: 4px;
                            display: inline-block;
                            color: rgba(0, 0, 0, .5);
                            text-transform: uppercase;
                            font-size: 16px;
                        }
                    }

                        .edit-button {
                            color: rgba(0, 0, 0, .5);
                            font-size: 16px;
                            padding: 2px;
                            background: none;
                            border: none;

                            &:hover {
                                color: rgb(232, 157, 53);
                            }
                        }

                        .done-button {
                            color: rgba(0, 0, 0, .5);
                            padding: 2px;
                            background: none;
                            border: none;

                            &:hover {
                                color: rgb(107, 195, 111);
                            }

                        }

                        .remove-button {
                            color: rgba(0, 0, 0, .5);
                            padding: 2px;
                            background: none;
                            border: none;

                            &:hover {
                                color: rgb(213, 92, 75);
                            }
                        }
                    
            }    

    }
}